# Toronto Neighborhood Data Part 2: Merging DataFrames of Lat. & Long.

**1. Import Packages:**

In [1]:
import numpy as np
import pandas as pd
print('Imports done.')

Imports done.

**2.Upload preprocessed dataframe from part 1:**

In [3]:
toronto_df=pd.read_csv('toronto_df.csv',index_col=0)
toronto_df.head()

  Postal Code           Borough                      Neighborhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto         Regent Park, Harbourfront
3         M6A        North York  Lawrence Manor, Lawrence Heights
4         M7A      Queen's Park     Ontario Provincial Government

**3.Geocoder was not running well, so I decided to just use the 'Geospatial_Coordinates.csv'.
Upload 'Geospatial_Coordinates.csv':**

In [4]:
geospa_df=pd.read_csv('Geospatial_Coordinates.csv')
geospa_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**4.I will now merge the toronto_df with the geospa_df into one table using the 'Postal Code' column as the key:**

In [6]:
toronto_geospa=pd.merge(toronto_df, geospa_df, on=['Postal Code'], how='inner')

**5. View the merged dataframe:**

In [8]:
toronto_geospa.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494

In [9]:
toronto_geospa.tail()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto Business,Enclave of M4L,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

**6. Get the shape:**

In [10]:
toronto_geospa.shape

(103, 5)

**7. Save the dataframe to save preprocessing time on the next part:**

In [11]:
toronto_geospa.to_csv('toronto_geospa.csv')
print('Saved some time by saving!')

Saved some time by saving!