# Toronto Neighborhood Data Part 1: Webscraping & Dataframe Creation

**1. Import Packages:**

In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
print('Imports done.')

Imports done.

**2. Create a beautifulsoup object of the postal codes of Toronto:**

In [2]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
toronto_soup = BeautifulSoup(url,'lxml')
print("Canada soup done.")

Canada soup done.

**3. Create a pd.Dataframe with the table data from the url with columns--PostalCode, Borough, Neighborhood:**

In [3]:
#create the initial table:
table_contents=[]
table=toronto_soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['Postal Code'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)
#convert the table into a pd.DataFrame:        
toronto_df=pd.DataFrame(table_contents)
toronto_df['Borough']=toronto_df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

**4. Check the first five rows and last five rows:**

In [4]:
toronto_df.head()

  Postal Code           Borough                      Neighborhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto         Regent Park, Harbourfront
3         M6A        North York  Lawrence Manor, Lawrence Heights
4         M7A      Queen's Park     Ontario Provincial Government

In [5]:
toronto_df.tail()

,Postal Code,Borough,Neighborhood
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto Business,Enclave of M4L
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

**5. Check if there are any rows where toronto_df['Borough']=='Not Assigned':**

In [6]:
print(toronto_df.loc[toronto_df['Borough']=='Not Assigned'])

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

**6. Find the shape of the DataFrame toronto_df:**

In [7]:
toronto_df.shape

(103, 3)

**7. I will save canada_df as a csv to save myself pre-processing time for the next steps:**

In [12]:
toronto_df.to_csv('toronto_df.csv')
print('Saved some time by saving!')

Saved some time by saving!